/* Autor: jlmerdiez
Fecha: 27/05/2019
Descripción: Ejercicio E1 de UF1306
Desarrollado con: Visual Studio Code */

body {
	font-family: Arial, Sans-serif;
	padding: 0;
}

header {
	text-align: center;
}

.contenedor {
	width: 40%;
	margin: .5em 30%;
}

fieldset {
	border-radius: 12px;
	padding: 1em;
}

em {
	color: #555;
}

input, label {
	margin: .5em 0;
}

#cargaOk {
	color: #00f;
}

input:invalid {
	border: 2px solid #f00;
}

input:valid {
	border: 1px solid #0f0;
}

.btn-group {
	padding: 1em;
}

button {
	margin-right: 1em;
	width: 7em;
	padding: .5em;
	border: 2px solid #777;
	border-radius: 8px;
	color: #555;
	font-weight: 900;
}

#importar {
	background-color: #90ee90;
}

#enviar {
	background-color: #ffa500;
}